Load in the dataset (starbucks_drinkMenu_expanded.csv), calling it drinks_content, and then briefly explore it, printing out: first 5 rows, last 5 rows, and then all of the data. Find out the dimensions of the data (number of rows and columns) and the column names.

In [1]:
import pandas as pd

In [2]:
drinks_content = pd.read_csv('data/starbucks_drinkMenu_expanded.csv')

In [4]:
drinks_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          242 non-null    object
 1   Beverage                   242 non-null    object
 2   Beverage_prep              242 non-null    object
 3   Calories                   242 non-null    int64
 4    Total Fat (g)             242 non-null    object
 5   Trans Fat (g)              242 non-null    float64
 6   Saturated Fat (g)          242 non-null    float64
 7    Sodium (mg)               242 non-null    int64
 8    Total Carbohydrates (g)   242 non-null    int64
 9   Cholesterol (mg)           242 non-null    int64
 10   Dietary Fibre (g)         242 non-null    int64
 11   Sugars (g)                242 non-null    int64
 12   Protein (g)               242 non-null    float64
 13  Vitamin A (% DV)           242 non-null    object
 14  Vitamin C (% DV)           242 non-null    object
 15   Calcium (% DV)            242 non-null    object
 16  Iron (% DV)                242 non-null    object
 17  Caffeine (mg)              241 non-null    object
dtypes: float64(3), int64(6), object(9)
memory usage: 34.2+ KB

In [6]:
print(drinks_content.head(5))

         Beverage_category       Beverage      Beverage_prep  Calories  \
0                   Coffee  Brewed Coffee              Short         3
1                   Coffee  Brewed Coffee               Tall         4
2                   Coffee  Brewed Coffee             Grande         5
3                   Coffee  Brewed Coffee              Venti         5
4  Classic Espresso Drinks    Caffè Latte  Short Nonfat Milk        70

   Total Fat (g)  Trans Fat (g)   Saturated Fat (g)   Sodium (mg)  \
0            0.1             0.0                0.0             0
1            0.1             0.0                0.0             0
2            0.1             0.0                0.0             0
3            0.1             0.0                0.0             0
4            0.1             0.1                0.0             5

    Total Carbohydrates (g)   Cholesterol (mg)   Dietary Fibre (g)  \
0                          5                 0                   0
1                         10                 0                   0
2                         10                 0                   0
3                         10                 0                   0
4                         75                10                   0

    Sugars (g)   Protein (g)  Vitamin A (% DV)  Vitamin C (% DV)  \
0            0            0.3                0%               0%
1            0            0.5                0%               0%
2            0            1.0                0%               0%
3            0            1.0                0%               0%
4            9            6.0               10%               0%

   Calcium (% DV)  Iron (% DV)  Caffeine (mg)
0               0%           0%           175
1               0%           0%           260
2               0%           0%           330
3               2%           0%           410
4              20%           0%            75

In [7]:
print(drinks_content.tail(5))

              Beverage_category                                      Beverage  \
237  Frappuccino® Blended Crème  Strawberries & Crème (Without Whipped Cream)
238  Frappuccino® Blended Crème          Vanilla Bean (Without Whipped Cream)
239  Frappuccino® Blended Crème          Vanilla Bean (Without Whipped Cream)
240  Frappuccino® Blended Crème          Vanilla Bean (Without Whipped Cream)
241  Frappuccino® Blended Crème          Vanilla Bean (Without Whipped Cream)

          Beverage_prep  Calories  Total Fat (g)  Trans Fat (g)   \
237             Soymilk       320            3 2             0.4
238    Tall Nonfat Milk       170            0.1             0.1
239          Whole Milk       200            3.5             2.0
240             Soymilk       180            1.5             0.2
241  Grande Nonfat Milk       240            0.1             0.1

     Saturated Fat (g)   Sodium (mg)   Total Carbohydrates (g)   \
237                0.0             0                        250
238                0.0             0                        160
239                0.1            10                        160
240                0.0             0                        160
241                0.0             5                        230

     Cholesterol (mg)   Dietary Fibre (g)   Sugars (g)   Protein (g)   \
237                67                   1           64            5.0
238                39                   0           38            4.0
239                39                   0           38            3.0
240                37                   1           35            3.0
241                56                   0           55            5.0

    Vitamin A (% DV)  Vitamin C (% DV)  Calcium (% DV)  Iron (% DV)   \
237                6%               8%              20%          10%
238                6%               0%              10%           0%
239                6%               0%              10%           0%
240                4%               0%              10%           6%
241                8%               0%              15%           0%

    Caffeine (mg)
237             0
238             0
239             0
240             0
241             0

In [8]:
print(drinks_content)

              Beverage_category                                      Beverage  \
0                        Coffee                                 Brewed Coffee
1                        Coffee                                 Brewed Coffee
2                        Coffee                                 Brewed Coffee
3                        Coffee                                 Brewed Coffee
4       Classic Espresso Drinks                                   Caffè Latte
..                          ...                                           ...
237  Frappuccino® Blended Crème  Strawberries & Crème (Without Whipped Cream)
238  Frappuccino® Blended Crème          Vanilla Bean (Without Whipped Cream)
239  Frappuccino® Blended Crème          Vanilla Bean (Without Whipped Cream)
240  Frappuccino® Blended Crème          Vanilla Bean (Without Whipped Cream)
241  Frappuccino® Blended Crème          Vanilla Bean (Without Whipped Cream)

          Beverage_prep  Calories  Total Fat (g)  Trans Fat (g)   \
0                 Short         3            0.1             0.0
1                  Tall         4            0.1             0.0
2                Grande         5            0.1             0.0
3                 Venti         5            0.1             0.0
4     Short Nonfat Milk        70            0.1             0.1
..                  ...       ...            ...             ...
237             Soymilk       320            3 2             0.4
238    Tall Nonfat Milk       170            0.1             0.1
239          Whole Milk       200            3.5             2.0
240             Soymilk       180            1.5             0.2
241  Grande Nonfat Milk       240            0.1             0.1

     Saturated Fat (g)   Sodium (mg)   Total Carbohydrates (g)   \
0                  0.0             0                          5
1                  0.0             0                         10
2                  0.0             0                         10
3                  0.0             0                         10
4                  0.0             5                         75
..                 ...           ...                        ...
237                0.0             0                        250
238                0.0             0                        160
239                0.1            10                        160
240                0.0             0                        160
241                0.0             5                        230

     Cholesterol (mg)   Dietary Fibre (g)   Sugars (g)   Protein (g)   \
0                   0                   0            0            0.3
1                   0                   0            0            0.5
2                   0                   0            0            1.0
3                   0                   0            0            1.0
4                  10                   0            9            6.0
..                ...                 ...          ...            ...
237                67                   1           64            5.0
238                39                   0           38            4.0
239                39                   0           38            3.0
240                37                   1           35            3.0
241                56                   0           55            5.0

    Vitamin A (% DV)  Vitamin C (% DV)  Calcium (% DV)  Iron (% DV)   \
0                  0%               0%               0%           0%
1                  0%               0%               0%           0%
2                  0%               0%               0%           0%
3                  0%               0%               2%           0%
4                 10%               0%              20%           0%
..                ...              ...              ...          ...
237                6%               8%              20%          10%
238                6%               0%              10%           0%
239                6%               0%              10%           0%
240                4%               0%              10%           6%
241                8%               0%              15%           0%

    Caffeine (mg)
0             175
1             260
2             330
3             410
4              75
..            ...
237             0
238             0
239             0
240             0
241             0

[242 rows x 18 columns]

In [9]:
drinks_content.shape

(242, 18)

We're going to be looking at the number of Calories in each drink. Calculate some quick summary statistics (e.g. the mean, the maximum and minimum).

In [13]:
print(drinks_content.Calories.mean(),"is the mean calorie of drinks,",drinks_content.Calories.max(),"is the max, and",drinks_content.Calories.min(), "is the min.")

193.87190082644628 is the mean calorie of drinks, 510 is the max, and 0 is the min.

Select the variables Beverage_category, Beverage, Beverage prep and Calories from the drinks_content data frame, and assign the selected columns to a new data frame called drinks. Check if there are any missing values anywhere in the data, and drop any rows containing them if there are.

In [16]:
drinks = drinks_content.loc[:, ["Beverage_category", "Beverage_prep", "Calories"]].copy()
drinks

              Beverage_category       Beverage_prep  Calories
0                        Coffee               Short         3
1                        Coffee                Tall         4
2                        Coffee              Grande         5
3                        Coffee               Venti         5
4       Classic Espresso Drinks   Short Nonfat Milk        70
..                          ...                 ...       ...
237  Frappuccino® Blended Crème             Soymilk       320
238  Frappuccino® Blended Crème    Tall Nonfat Milk       170
239  Frappuccino® Blended Crème          Whole Milk       200
240  Frappuccino® Blended Crème             Soymilk       180
241  Frappuccino® Blended Crème  Grande Nonfat Milk       240

[242 rows x 3 columns]

In [19]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Beverage_category  242 non-null    object
 1   Beverage_prep      242 non-null    object
 2   Calories           242 non-null    int64
dtypes: int64(1), object(2)
memory usage: 5.8+ KB

In [22]:
drinks.isna().sum() #no NA values.

Beverage_category    0
Beverage_prep        0
Calories             0
dtype: int64

In your drinks dataframe create a new variable (column) called calorie_diff, which stores the difference between 135 calories (135 calories = 10 cubes of sugar!) and the calories in each drink. (Hint: you’ll want to subtract the calories from 135 to see which drink have more or less than 10 cups of sugar).

In [24]:
drinks.loc[: ,"calorie_diff"] = drinks.Calories - 135
drinks

              Beverage_category       Beverage_prep  Calories  calorie_diff
0                        Coffee               Short         3          -132
1                        Coffee                Tall         4          -131
2                        Coffee              Grande         5          -130
3                        Coffee               Venti         5          -130
4       Classic Espresso Drinks   Short Nonfat Milk        70           -65
..                          ...                 ...       ...           ...
237  Frappuccino® Blended Crème             Soymilk       320           185
238  Frappuccino® Blended Crème    Tall Nonfat Milk       170            35
239  Frappuccino® Blended Crème          Whole Milk       200            65
240  Frappuccino® Blended Crème             Soymilk       180            45
241  Frappuccino® Blended Crème  Grande Nonfat Milk       240           105

[242 rows x 4 columns]

Summarise the mean number of calories in each beverage category.

In [25]:
drinks.groupby("Beverage_category").mean()

                                     Calories  calorie_diff
Beverage_category
Classic Espresso Drinks            140.172414      5.172414
Coffee                               4.250000   -130.750000
Frappuccino® Blended Coffee        276.944444    141.944444
Frappuccino® Blended Crème         233.076923     98.076923
Frappuccino® Light Blended Coffee  162.500000     27.500000
Shaken Iced Beverages              114.444444    -20.555556
Signature Espresso Drinks          250.000000    115.000000
Smoothies                          282.222222    147.222222
Tazo® Tea Drinks                   177.307692     42.307692

Harder - Which Beverage_prep type contains more than the average calories of all drinks? (Hint: to answer this, you’ll have to first figure out what the average calories across all drinks are, and then use that as a filter for the grouped Beverage_prep data).

In [44]:
average_cal = drinks.mean()["Calories"]
drinks.groupby("Beverage_prep").mean().loc[(drinks.groupby("Beverage_prep").mean()["Calories"] > average_cal)]
# Is there a way just to use that number on the calories and then find distinct or???

                      Calories  calorie_diff
Beverage_prep
2% Milk             218.000000     83.000000
Grande Nonfat Milk  209.615385     74.615385
Soymilk             207.272727     72.272727
Venti Nonfat Milk   260.000000    125.000000
Whole Milk          283.750000    148.750000

Harder - Which is the best type of coffee drink to get if you’re worried about consuming too many calories? (Hint: you can use pd.unique() on a column to get all unique values/levels of that column! Also remember that you can use isin() to subset with a list)

In [46]:
pd.unique(drinks.Beverage_category)

array(['Coffee', 'Classic Espresso Drinks', 'Signature Espresso Drinks',
       'Tazo® Tea Drinks', 'Shaken Iced Beverages', 'Smoothies',
       'Frappuccino® Blended Coffee', 'Frappuccino® Light Blended Coffee',
       'Frappuccino® Blended Crème'], dtype=object)

In [68]:
drinks.loc[drinks.Beverage_category.isin(['Coffee',
                                          'Classic Espresso Drinks',
                                          'Signature Espresso Drinks',
                                          'Frappuccino® Blended Coffee',
                                          'Frappuccino® Light Blended Coffee'])].sort_values("Calories").head(1)

# seems way too convoluted?

  Beverage_category Beverage_prep  Calories  calorie_diff
0            Coffee         Short         3          -132

Filter the dataset drinks so we only take "Classic Espresso Drinks", and save this in a new data frame called espresso_drinks.

In [72]:
espresso_drinks = drinks.loc[drinks.Beverage_category == 'Classic Espresso Drinks'].copy()

Group your espresso_drinks data frame by the type of Beverage prep, and then find out the mean calories for each drink group.

In [80]:
espresso_drinks.groupby("Beverage_prep").mean()

                    Calories  calorie_diff
Beverage_prep
2% Milk              184.375        49.375
Doppio                10.000      -125.000
Grande                15.000      -120.000
Grande Nonfat Milk   150.000        15.000
Short                  5.000      -130.000
Short Nonfat Milk     78.000       -57.000
Solo                   5.000      -130.000
Soymilk              151.250        16.250
Tall                  10.000      -125.000
Tall Nonfat Milk     116.000       -19.000
Venti                 25.000      -110.000
Venti Nonfat Milk    194.000        59.000

Get the same grouped mean Calories values as above, but this time sorted in descending order. (Hint: so you're able to sort the resulting groupby by the 'Calories' column you will want to ensure you get back a dataframe and not a series)

In [85]:
espresso_drinks.groupby("Beverage_prep").mean().sort_values("Calories", ascending = False)

                    Calories  calorie_diff
Beverage_prep
Venti Nonfat Milk    194.000        59.000
2% Milk              184.375        49.375
Soymilk              151.250        16.250
Grande Nonfat Milk   150.000        15.000
Tall Nonfat Milk     116.000       -19.000
Short Nonfat Milk     78.000       -57.000
Venti                 25.000      -110.000
Grande                15.000      -120.000
Doppio                10.000      -125.000
Tall                  10.000      -125.000
Short                  5.000      -130.000
Solo                   5.000      -130.000