Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'
Then do the following:
Extract the second element of the list.
Extract the first to third (inclusive) element of the list.
Extract only the last element of the list.

In [5]:
shopping = ['spam', 'ham', 'eggs', 'ham']

In [2]:
shopping[1]

'spam'

In [6]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [7]:
shopping[-1]

'ham'

Set up a list with the following elements:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]
Perform the following:
Append Edinburgh Waverley to the end of the list
Add "Queen Street" to the start of the list
Find out what index "Croy" is at in the list
Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
Remove "Haymarket" from the list of stops
Remove all items from stops
Hint: Some of these methods will change the original object stops. If you make any unwanted changes and want to go back to the original object you can re-run the code chunks where we created the object stops and then appended "Edinburgh Waverley".

In [28]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [29]:
stops.append("Edinburgh Waverley")

In [30]:
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [31]:
stops = ["Queen Street"] + stops

In [32]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [33]:
stops.index("Croy")

1

In [34]:
stops.insert(4, "Polmont")

In [35]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [36]:
stops.remove("Haymarket")

In [40]:
stops.clear()

In [41]:
stops

[]

Set up the following dictionary:
person = {"name": "Steph", "age": 31, "Instructor" : True}
Do the following:
Return the keys, values and items from this dictionary
Take out only the name from it
Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary
Delete the job description from the dictionary (Hint: look up the del function)

In [42]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [43]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [44]:
person.values()

dict_values(['Steph', 31, True])

In [45]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [47]:
person["name"]

'Steph'

In [50]:
person.update({"email" : "steph@codeclan.com"})

In [52]:
del person["Instructor"]

In [53]:
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}


Question 4
For the following list of numbers:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]
Print out a list of the even integers:
Print the difference between the largest and smallest value:
Print True if the list contains a 2 next to a 2 somewhere.
Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [91]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [55]:
print(numbers)

[1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [57]:
numbers.sort()
print(numbers[-1]-numbers[0])

98

In [85]:
def two_twos(x):
    for n in range(0,len(x)-1):
        if x[n] == x[n+1] and x[n] == 2:
            return True

In [94]:
numbers.index(6)

1

In [87]:
two_twos(numbers)

True

In [ ]:
def six_seven(x):
    pos_sixs = []
    pos_sevens = []
    
    for i in range(len(x)):
    if x[i] == 6:
        pos_sixs(i)
        
    for i in range(len(x)):
    if x[i] == 7:
        pos_sevens(i)
        
    pos_sixs.sort()
    pos_sevens.sort
        
    
    
    rm_sequence = range(pos_sixs.min(), pos_sevens.max())

In [97]:
min numbers

SyntaxError: invalid syntax (211116805.py, line 1)